<!-- /snippets/refine-row.liquid -->
<div class="ctrl ctrl-col-display" id="mobile-rows">
  <span class="per-row one">1 Per Row</span>
  <span class="per-row two">2 Per Row</span>
  <span class="per-row three">3 Per Row</span>
  <i class="ddl"></i>
</div>



