<div class="modal fade" id="myModals" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="col-md-12">
                    <div class="panel with-nav-tabs panel-primary">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <p>SIZE CHART</p>
                                <li class="active"><a href="#tab1primary" data-toggle="tab">bottoms</a></li>
                                <li><a href="#tab2primary" data-toggle="tab">shorts</a></li>
                                <li><a href="#tab3primary" data-toggle="tab">tops</a></li>
                                <li><a href="#tab4primary" data-toggle="tab">dresses</a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab1primary">
                                    <div id="a">
                                        <h1>Include Denim & Pants</h1>
                                        <table class="rwd-table">
                                            <tr>
                                                <th>SIZES</th>
                                                <th class="figur">WAIST</th>
                                                <th>HIPS</th>
                                                <th>LENGTH</th>
                                            </tr>
                                            <tr>
                                                <td data-th="Movie Title">1</td>
                                                <td data-th="Genre">25"-25.5"</td>
                                                <td data-th="Year">35"-35.5"</td>
                                                <td data-th="LENGTH">40"</td>
                                            </tr>
                                            <tr>
                                                <td data-th="Movie Title">3</td>
                                                <td data-th="Genre">26"-26.5"</td>
                                                <td data-th="Year">36"-36.5"</td>
                                                <td data-th="LENGTH">41"</td>
                                            </tr>
                                            <tr>
                                                <td data-th="Movie Title">5</td>
                                                <td data-th="Genre">27"-27.5"</td>
                                                <td data-th="Year">37"-37.5"</td>
                                                <td data-th="LENGTH">42"</td>
                                            </tr>
                                            <tr>
                                                <td data-th="Movie Title">7</td>
                                                <td data-th="Genre">28"-28.5"</td>
                                                <td data-th="Year">38"-38.5"</td>
                                                <td data-th="LENGTH">43"</td>
                                            </tr>
                                            <tr>
                                                <td data-th="Movie Title">9</td>
                                                <td data-th="Genre">29"-29.5"</td>
                                                <td data-th="Year">39"-39.5"</td>
                                                <td data-th="LENGTH">44"</td>
                                            </tr>
                                            <tr>
                                                <td data-th="Movie Title">11</td>
                                                <td data-th="Genre">30"-31"</td>
                                                <td data-th="Year">40"-41"</td>
                                                <td data-th="LENGTH">45"</td>
                                            </tr>
                                            <tr>
                                                <td data-th="Movie Title">13</td>
                                                <td data-th="Genre">31.5"-32.5"</td>
                                                <td data-th="Year">41.5"-42.5"</td>
                                                <td data-th="LENGTH">46"</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab2primary">
                                    <div id="b">
                                        <h1>Include Denim & Pants</h1>
                                        <table class="rwd-table">
                                            <tr>
                                                <th>SIZES</th>
                                                <th class="figur">WAIST</th>
                                                <th>LENGTH</th>
                                            </tr>
                                            <tr>
                                                <td data-th="Movie Title">SMALL</td>
                                                <td data-th="Genre">25"-26"</td>
                                                <td data-th="LENGTH">40"</td>
                                            </tr>
                                            <tr>
                                                <td data-th="Movie Title">MEDIUM</td>
                                                <td data-th="Genre">27"-28"</td>
                                                <td data-th="LENGTH">41"</td>
                                            </tr>
                                            <tr>
                                                <td data-th="Movie Title">LARGE</td>
                                                <td data-th="Genre">30"-32"</td>
                                                <td data-th="LENGTH">42"</td>
                                            </tr>
                                        </table>
                                        <p>(F) & (B) = FRONT AND BACK-Length measuring from waist down</p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab3primary">
                                    <div id="c">
                                        <h1>Include jackets,tees,blouses,bralets and bodytsuites</h1>
                                        <table class="rwd-table">
                                            <tr>
                                                <th>SIZES</th>
                                                <th class="figur">BUST</th>
                                                <th>CUP SIZE</th>
                                            </tr>
                                            <tr>
                                                <td data-th="Movie Title">SMALL</td>
                                                <td data-th="Genre">35.5"</td>
                                                <td data-th="LENGTH">A/B</td>
                                            </tr>
                                            <tr>
                                                <td data-th="Movie Title">MEDIUM</td>
                                                <td data-th="Genre">B/C</td>
                                                <td data-th="LENGTH">41"</td>
                                            </tr>
                                            <tr>
                                                <td data-th="Movie Title">LARGE</td>
                                                <td data-th="Genre">40.5"</td>
                                                <td data-th="LENGTH">D</td>
                                            </tr>
                                            <tr>
                                                <td data-th="Movie Title">X-LARGE</td>
                                                <td data-th="Genre">41.5"</td>
                                                <td data-th="LENGTH">D/DD</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab4primary">
                                    <div id="d">
                                        <h1>Includes all dresses and bodysuites</h1>
                                        <table class="rwd-table">
                                            <tbody>
                                                <tr>
                                                    <th>SIZES</th>
                                                    <th>BUST</th>
                                                    <th class="figur">WAIST</th>
                                                    <th class="hips_figur">HIPS</th>
                                                </tr>
                                                <tr>
                                                    <td data-th="Movie Title">X-SMALL</td>
                                                    <td data-th="Genre">35.5"-34"</td>
                                                    <td data-th="Genre">26</td>
                                                    <td data-th="LENGTH">36.5</td>
                                                </tr>
                                                <tr>
                                                    <td data-th="Movie Title">SMALL</td>
                                                    <td data-th="Genre">34.5"-35"</td>
                                                    <td data-th="Genre">27</td>
                                                    <td data-th="LENGTH">37.5</td>
                                                </tr>
                                                <tr>
                                                    <td data-th="Movie Title">MEDIUM</td>
                                                    <td data-th="Genre">35.5"-36"</td>
                                                    <td data-th="Genre">28.5</td>
                                                    <td data-th="LENGTH">39</td>
                                                </tr>
                                                <tr>
                                                    <td data-th="Movie Title">LARGE</td>
                                                    <td data-th="Genre">36.5"-37"</td>
                                                    <td data-th="Genre">30</td>
                                                    <td data-th="LENGTH">40.5</td>
                                                </tr>
                                                <tr>
                                                    <td data-th="Movie Title">X-LARGE</td>
                                                    <td data-th="Genre">37.5"-38.5"</td>
                                                    <td data-th="Genre">31.5</td>
                                                    <td data-th="LENGTH">42</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="measure-div">
                <h2 class="measure"><a data-content="▶" class="measure-a" style="color: black;" href="#">HOW TO MEASURE</a></h2>
                <div class="img_size">
                    {{ 'size-guide.png' | asset_url | img_tag }}
                </div>
            </div>
        </div>
    </div>
</div>