<!-- /templates/404.liquid -->
<h1>{{ 'general.404.title' | t }}</h1>
<p>{{ 'general.404.subtext_html' | t }}</p>

{% include 'nosto-element' with 'notfoundpage-nosto-1' %}

{% include 'nosto-element' with 'notfoundpage-nosto-2' %}

{% include 'nosto-element' with 'notfoundpage-nosto-3' %}
