<!-- /templates/page.liquid -->
<div class="hup-view faq">

  <div class="grid__item large--two-thirds push--large--one-sixth">

    <h1>{{ page.title }}</h1>

    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte hup-faqs">	
      
      <div class="accordion_example1 smk_accordion acc_with_icon">
			<div class="accordion_in ">
				<div class="acc_head active">How do I create an account?</div>
				<div  class="accordion-section-content acc_content" style="display: block;">
					<p>M At the top of the Touchdolls.com homepage, click the Create Account option. Fill out the form completely and click the Create My Account button towards the bottom. Once completed, you will see the window refresh to tell you that “YOUR ACCOUNT HAS BEEN CREATED”. An email confirmation will be sent to you right away for the creation.

  You also have the option of not creating an account to make a purchase but that option doesn’t consist of all the benefits you have with creating an account.</p>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->

			<div class="accordion_in">
				<div class="acc_head" >What benefits do I receive when I create an account?</div>
				<div class="accordion-section-content">
					<p>  By creating an account with us, you can view incoming/outgoing messages associated with your account, check and track your order status, view completed orders, add/edit or remove addresses to your shipping and billing, create a wish list, and update your account details at any time. You can also view a list of items you have recently checked out on the website.</p>
                  <p>Signing In/Forgot username or password or both</p>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->

			<div class="accordion_in">
				<div class="acc_head" >How do I access my account?</div>
				<div  class="accordion-section-content">
					<p>At the top of the Touchdolls.com homepage, click the Sign In option. Fill out the information and you will be directed into your account. Once that is completed you can start shopping right away.</p>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->
        	<div class="accordion_in">
				<div class="acc_head" > I forgot my password, how do I retrieve it?</div>
				<div class="accordion-section-content">
					<p> At the top of the Touchdolls.com homepage, click the Sign In option. On the Sign In To Your Account page, click the “Forgot your password” link. You will be prompted to fill in the email address you provided at the time when you created the account and hit continue. The page will refresh and the following message will show.</p> 

   <p>The email you receive contains a link to where you can create a new password. Remember that the characters need to be 6 characters long and will be case sensitive. Once that has been completed, the page will automatically go back to the Sign In page and you may proceed to log back in with the new password you have created.</p>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->
			<div class="accordion_in">
				<div class="acc_head" >How do I update my account?</div>
				<div  class="accordion-section-content">
					<p> Once you have logged into your account, click the “YOUR ACCOUNT DETAILS” option and make your changes accordingly. *Remember to leave the password and confirm password options blank if you are not changing your current password.  After that is done click the “Update My Details” to save your changes.</p>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->
						<div class="accordion_in">
				<div class="acc_head">How do I add a new address to my shipping or billing information?</div>
				<div class="accordion-section-content">
					<p> Once you have logged into your account, click the “YOUR ADDRESS BOOK” option and click the “ADD NEW ADDRESS” option to the right. Fill out the form accordingly and Save Address at the bottom. You can individually edit or delete an address by clicking the pencil drawing to edit or the trashcan drawing to delete at any time.</p>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->
			<div class="accordion_in">
				<div class="acc_head">How do I know that my information is secure?</div>
				<div class="accordion-section-content">
					<p> We believe in our customers’ privacy and we are backed up by the Go.Daddy.com’s Verified & Secured verify security to prevent our customer’s information from leaking out. This system secures valuable information and checks for anything suspicious or associated with fraud.</p>
                 	 <p>Sizing</p>	
              </div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->
			<div class="accordion_in">
				<div class="acc_head">I’m unsure about a size or I have a fit question. How do I find this information?</div>
				<div class="accordion-section-content">
					<p>Click here to view our Size Chart</p>
                  <p>Ordering & payment</p>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->
			<div class="accordion_in">
				<div class="acc_head">How do I place an order online?</div>
				<div  class="accordion-section-content">
					<p>After viewing your item(s), select the size you want and add them to your shopping cart.  You can also add more items to your cart at the bottom of the page where it says “Update Cart.” Once you are set, click the “Proceed to checkout” option on the bottom.  Here are the following steps:</p>
                  	<p><span class="st">Step 1:</span>  Select which addresses from your address list you would like to use as your billing address. If the selected address is the same as the shipping address, check the box that says, “I also want to ship to this address” and click the “Bill and ship to this Address” button. If they are not the same check the other box beneath it that says, “I want to use a new billing address.”</p>
                  	<p>If you have selected to use a new billing address, fill the form accordingly and you have the two options of saving it in your address book or using it as your shipping address or both.</p>
                  	<p><span class="st">Step 2:</span> Select that address you would like your item(s) to be shipped to. If you would like to use a new shipping address select the option on the bottom of the address list box and fill out the form accordingly.</p>
                  <strong>*This is a very important step. Please double check the address provided for the shipping and make sure there are no errors. Any errors in the shipping address can result with packages taking longer to reach its destination or becoming lost in transit. Because of this, it will affect returns/exchanges or cancellation rules for this order. </strong>
                  <p><span class="st">Step 3:</span> Select the shipping method you would like and click continue.</p>
                  <p><span class="st">Step 4:</span> Review the item(s) in your cart and proceed to let us know how you would like to pay for your item(s). If you have any coupons or gift certificates that you would like to apply to your purchase, now is the time to enter the code to the bottom right of the screen.</p>
                  <p>If there are any instructions that you would like to add, you can input that information in the “ORDER INSTRUCTIONS/COMMENTS” box towards the bottom left. Be sure to check the box beneath it to receive the TouchDolls newsletter and then proceed to payment.</p>
                  <p><span class="st">Step 5:</span> Depending on the form of payment you selected in step 4, fill out the information accordingly and pay for the order.</p>
              </div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->
			<div class="accordion_in">
				<div class="acc_head" >Placing an Order by phone?</div>
				<div  class="accordion-section-content">
					<p>When placing an order via phone, it is pretty much the same process as if it were in online. Provide us with your name, address, and email address, credit card information, shipping and billing and an email notification regarding your purchase.</p>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->
			<div class="accordion_in">
				<div class="acc_head" >Placing an Order online?</div>
				<div  class="accordion-section-content">
					<p>When placing your order, please make sure that you use the billing address and contact information as it appears on your credit statement. In the event that your information does not match exactly what your credit card has on file, your order may be held pending verification. This may require us to contact your directly. When specifying shipping address information, be sure to check that the zip code, city and state are correct. </p>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->
			<div class="accordion_in">
				<div class="acc_head" >What type of payment options do you have available?</div>
				<div class="accordion-section-content">
					<p>We accept Visa, MasterCard and Paypal.</p>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->
			<div class="accordion_in">
				<div class="acc_head" >I have a store credit, how do I use it?     </div>
				<div class="accordion-section-content">
					<p>  If you have a store credit and would like to use it towards your purchase, enter the code during checkout to the bottom right of the screen.</p>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->
			<div class="accordion_in">
				<div class="acc_head">How do I add items to my wish list?</div>
				<div class="accordion-section-content">
					<p> When viewing an item(s), there is an “Add to wish list” option to the right of the “add to cart” option. Once you have clicked the option you will be redirected to your wish list so that whenever you are ready to purchase your item(s), it will be there for you. Note that you will also have the option of removing the item(s) at any time.</p>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->
			<div class="accordion_in">
				<div class="acc_head" >I purchased an item that is on pre-order, why haven't I received it yet?</div>
				<div  class="accordion-section-content">
					<p>Pre-Ordered item(s) will be shipped out to the customer when they have arrived to the store. If a non-pre-ordered item(s) and a pre-ordered item(s) was ordered at the time of purchase, the order will not be shipped until the pre-ordered item(s) has come into the store. </p>
                  <strong>Verification & Shipping</strong>
              </div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->
			<div class="accordion_in">
				<div class="acc_head">What shipping options do you have available?</div>
				<div  class="accordion-section-content">
					<p> Our shipping methods include flat rate, UPS (Ground, 3Day Select, 2nd Day Air and Next Day Air).</p>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->
			<div class="accordion_in">
				<div class="acc_head">What if I have a quality issue with my purchase but don’t have a receipt and/or 7 days have passed?</div>
				<div  class="accordion-section-content">
					<p>  We do stress that we have a 7-day period to get back in touch with us regarding your concerns or issues with your order. We do recommend calling us 786-235-8633 or emailing us at info@touchdolls.com to better assist you and find a solution.</p>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->
			<div class="accordion_in">
				<div class="acc_head">Can I use a gift card or a store credit with my online purchase?</div>
				<div class="accordion-section-content">
					<p>  Absolutely. If you have a store credit and would like to use it towards your purchase, enter the code during checkout to the bottom right of the screen.</p>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->
			<div class="accordion_in">
				<div class="acc_head">My package was delivered and signed for, but I don't have my package?</div>
				<div class="accordion-section-content">
					<p><span>  All packages come with signature confirmation. We stress that you are home to accept and sign for the package. <strong>Once the package is signed, regardless of who signed for it, we are not responsible for the package at that point.</strong> If noone signs for the package it is then transported to your local post office and a note will be left on the door for you to pick up the package.</span></p>
                  <p><span><strong>I need to change something on my order.</strong></span></p>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->
			<div class="accordion_in">
				<div class="acc_head">Can I make a change to my order after it is placed?</div>
				<div class="accordion-section-content">
                  <p><span>After you have placed an order and need to make a change, you have about 6 hours to get in contact with us at <span class="st">786-235-8633</span> regarding your purchase to make any changes.  After the 6hour period, call us to either manually add or void your purchase.  You cannot make any changes online on your own to the order.</span></p>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->
			<div class="accordion_in">
				<div class="acc_head">How do I know if my order is complete?</div>
				<div class="accordion-section-content">
					<p>Once your order is complete, you will receive and order confirmation via email regarding your order. If there are no issues with your order, you will receive another email stating that your order has been processed. The last email you will receive is in regards to your item(s) being shipping.</p>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->
			<div class="accordion_in">
				<div class="acc_head">What if my order gets lost or doesn’t arrive on time?</div>
				<div class="accordion-section-content">
					<p>   <span>Our packages automatically come with signature guarantee delivery to make sure your packages get to you on time. We are not responsible for lost, damaged, or packages lost in transit. If there is an error on the billing and shipping information that you have provided, packages will most likely be handled by your local post office. If the shipment cannot be resolved with the post office, it will be returned back to us where we contact you on the discrepencies regarding the issue with the package. <strong>Please note that mistakes done on behalf of the customer will result in additional shipping costs.</strong> </span></p>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->
			<div class="accordion_in">
				<div class="acc_head">What if I want to return or cancel my order that got lost or didn't arrive on time?</div>
				<div class="accordion-section-content">
					<p><span>   We stress that when placing orders to double and even triple check that you have entered all information correctly. Mistakes done on behalf of the customer does <strong>NOT</strong> void our policies regarding returns. After careful investigation of the issue at hand, we reserve the right to issue a merchandise/store credit for the return or cancellation of the order.</span></p>
<p><strong><span>Order Tracking &amp; Status</span></strong></p>
<p><strong></strong><span><strong>Where is my order confirmation?</strong></span></p>
                  <p>   <span>After the order has been placed, you will receive an email confirmation for your order.</span></p>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->
			<div class="accordion_in">
				<div class="acc_head">How do I track my order?</div>
				<div class="accordion-section-content">
<p>   <span>Once your order has been processed and shipping, you will receive an email confirmation providing a tracking number to see where your package is at any time. <span>If you have an account, you can check the status of your order at anytime, by simply logging into your account and clicking “View Order Status”.   If your order states “Awaiting Fulfillment”, your order has been received and is being processed by our warehouse.  If your order has “Shipped”, you will see a delivery tracking number. If your order states "Pending", there is an issue with the order and needs to be resolved. Issues include pre-ordered items or errors in billing/shipping information.</span><br /><br /></span></p>
<p>If you do not have an account, please contact us at 786-235-8633.  We will be happy to provide you with your order status or tracking information.  To better help us assist you, please have your order number and last name on the order ready.</p>				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->
			<div class="accordion_in">
				<div class="acc_head">Changing or cancelling your order</div>
				<div  class="accordion-section-content">
					<p>To make changes and/or cancel your order, call us immediately at 786-235-8633. We highly recommend contacting us within a 6hour period to better assist your needs.</p>
					<p><strong><span>Returns/Exchanges</span></strong></p>
<p>   View our <div href="http://www.touchdolls.com/return-policy/">Return Policy</div></p>
                  <p><strong><span>Shipping</span></strong></p>
              </div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->
			<div class="accordion_in">
				<div class="acc_head">When will my order ship?</div>
				<div  class="accordion-section-content">
					<p> View our <div href="http://www.touchdolls.com/shipping/">SHIPPING</div> for more details</p>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->
			<div class="accordion_in">
				<div class="acc_head">Will I have to pay international Taxes and duties?</div>
				<div class="accordion-section-content">
					<p>  <span> At checkout, you can estimate how much tax will be applicable to your purchase depending on where the item(s) is going to be shipped. This option will be towards the bottom right of your shopping cart saying “Estimate Shipping &amp; Tax.”</span></p>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->
			<div class="accordion_in">
				<div class="acc_head">Do you ship to PO Boxes &amp; APO/FPO or U.S Territories?</div>
				<div class="accordion-section-content">
					<p> We do not offer overnight delivery to Alaska, Hawaii or P.O. Boxes. For shipments to Guam, Puerto Rico, U.S. Virgin Islands, Alaska, Hawaii or APO/FPO addresses, our standard is First Class mail through the United States Postal Service. If you prefer to overnight shipping, call us at <span class="st"> 786-235-8633.</span></p>
<p><strong><span>I wasn't home to sign for my package and now it is unclaimed and being sent back to you, can I get my package resent to me again?</span></strong></p>
<p><span>   If a customer is not home to sign for their package and/or did not pick up the package at their local postal office the package is considered unclaimed. If an unclaimed packaged has been returned back to us, we reserve the right to charge additional shipping costs to mail the package out again. </span></p>
<p><strong><span>Location &amp; Contact</span></strong></p>
<p><span><strong>Where is your store located?</strong></span></p>
<p>    <span>Touch Boutique</span></p>
<p><span>    7231 Biscayne Blvd </span><span>Miami, FL 33138</span></p>
<p><span><strong>Customer Service</strong></span></p>
<p><span class="st">Call us at: 786-235-8633</span></p>
<p><span><strong>Email address</strong></span></p>
<p>For more information or concerns:<span class="st"> info@touchdolls.com</span></p>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->
        
        
        
        
        
        
        
        
		</div><!--end .accordion-->
      
    </div>